<div class="mb-3">
  <label for="formFile" class="form-label">音声ファイル</label>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">曲のタイトル</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="タイトルを記入">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">曲のジャンル</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ジャンルを選択">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">一言コメント</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="ボイストレーナーにアドバイスを欲しい箇所など" rows="3"></textarea>
</div>
