<nav class="navbar h-auto sticky-top navbar-expand-lg bg-body-tertiary" style="background-color: aqua;">
  <div class="container-fluid ">
    <a class="navbar-brand fw-bold fs-2" style="color: white;" href="http://localhost:3000">Chanson♬♪</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      <form class="d-flex mx-auto p-2" role="search">
        <input class="form-control me-2 ms-5" type="search" style="width: 300px;" placeholder="タイトル、ジャンル、投稿者名で検索" aria-label="Search">
        <button class="btn btn-outline-info me-5" type="submit">検索</button>
      </form>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0 j">
        <li class="nav-item">
          <a class="btn btn-info me-2 ms-5" href="#" role="button">ログイン</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-info" href="#" role="button">会員登録</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-end" href="#">ボイストレーナーの方はこちら♪</a>
        </li>
        
       
      </ul>
      
      
    </div>
  </div>
</nav>