<div class = "edit-main"> 
  <%= render partial: "shared/fourth_header" %>
  <div class = "edit-contents">
    <%= render partial: "shared/form" %>
    <div class="mb-3 ">
      <button class="btn btn-info" type="submit">変更する</button>
    </div>
  </div>  
</div>