<div class = "index-main"> 
  <%= render partial: "shared/header" %>
  <div class = "index-contents">
    <div class = "index-content">
      <div class="card mt-5 ms-5" style="width: 850px;">
        <h5 class="card-header d-flex justify-content-between">
          <a href="#" class="card-link ">タイトル</a>
          <a href="#" class="card-link me-0" style = "font-size: 16px;">by 田中</a>
        </h5>
        <div class="card-body">
          <p class="card-text">一言コメント</p>
        </div>

      </div>
      
      <%# </div class = "ranking-tables "> %>
      <table class="table table-striped" style="width: 400px;">
        <%# <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">いいねが多い投稿ランキング♪</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      <%# </table>
      <table class="table table-striped" style="width: 300px;">
        <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">フォロワーが多い投稿者♪</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      <%# </table>
      <table class="table table-striped" style="width: 300px;">
        <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">フォロワーが多いボイストレーナー♪</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class=login-btn id="voice_trainer">
      <div class="mb-3 me-3">
        <button class="btn btn-success" type="submit">ボイストレーナーの方はログイン</button>
      </div>
      <div class="mb-3 ms-3">
        <button class="btn btn-outline-success" type="submit">ボイストレーナーとして会員登録</button>
      </div>
    </div>
  </div>
</div>





