<div class = "index-main"> 
  <%= render partial: "shared/header" %>
  <div class = "index-contents">
    <div class="card mt-5 ms-5" style="width: 900px;">
      <h5 class="card-header d-flex justify-content-between">
        <a href="#" class="card-link ">タイトル</a>
        <a href="#" class="card-link me-0" style = "font-size: 16px;">by 田中</a>
      </h5>
      <div class="card-body">
        <p class="card-text">一言コメント</p>
      </div>

    </div>
    </div class = "ranking-tables">
      <table class="table table-striped" style="width: 300px;">
        <%# <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col">順位</th>
            <th scope="col">タイトル</th>
            <th scope="col">投稿者名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      </table>
      <table class="table table-striped" style="width: 300px;">
        <%# <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col">順位</th>
            <th scope="col">タイトル</th>
            <th scope="col">投稿者名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      </table>
      <table class="table table-striped" style="width: 300px;">
        <%# <h6>いいねが多い投稿!</h6> %>
        <thead>
          <tr>
            <th scope="col">順位</th>
            <th scope="col">タイトル</th>
            <th scope="col">投稿者名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">１位</th>
            <td>ジレンマ</td>
            <td>ecosystem</td>
            
          </tr>
          <tr>
            <th scope="row">２位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">３位</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>





</div>