<div class = "index-main"> 
 <%= render partial: "shared/header" %>
</div>
<div class="card mt-5 ms-5" style="width: 900px;">
  <h5 class="card-header d-flex justify-content-between">
    <a href="#" class="card-link ">タイトル</a>
    <a href="#" class="card-link me-0" style = "font-size: 16px;">by 田中</a>
  </h5>
  <div class="card-body">
    <p class="card-text">一言コメント</p>
  </div>
</div>