<div class = "show-main"> 
  <%= render partial: "shared/third_header" %>
  <div class="show-contents">
    <div class="show-songs">
    </div>

    <div class="show-content">
      <div class="song-title">
        タイトル：タイトル
      </div>
      <div class="song-genre">
        ジャンル：ジャンル
      </div>
      <div class="song-comment">
        一言コメント：コメント
      </div>
      <div class="song-user">
        投稿者：投稿者
      </div>
      <div class="btn">
        <div class="mb-3 me-3">
          <button class="btn btn-info" type="submit">編集する</button>
        </div>
        <div class="mb-3 ms-3">
          <button class="btn btn-outline-info" type="submit">削除する</button>
        </div>
      </div>
    </div>

      
    


    </div>

  </div>
 
</div>