<div class = "show-main"> 
  <%= render partial: "shared/third_header" %>
  <div class="show-contents">
    <div class="song-content">
    </div>

    <div class="show-conten">
    


    </div>

  </div>
 
</div>